<div ng-controller="AdminInsertController">
    <h1>Insert</h1>
    <label for="tableSelect"><b>Select Table</b></label>
    <select id="tableSelect" name="tableSelect" ng-options="table.label for table in tables track by table.label" ng-model="selected">
        <option selected disabled value="">Select Table</option>
    </select>
    <div>
        <form>
            <div class="sign-wrapper">
                <div class="sign-container">

                    <!-- Order -->
                    <div ng-if="selected.label === 'Order'" id="orderTableFields">
                        <label for="DateIssued"><b>Date Issued</b></label>
                        <input ng-model="inputs.dateIssued" type="date" name="dateIssued" required>
                        
                        <label for="DateReceived"><b>Date Received</b></label>
                        <input ng-model="inputs.dateReceived" type="date" name="dateReceived" required>
        
                        <label for="TotalPrice"><b>Total Price</b></label>
                        <input ng-model="inputs.totalPrice" type="text" name="totalPrice" required>
        
                        <label for="Payment Code"><b>Payment Code</b></label>
                        <input ng-model="inputs.paymentCode" type="text" name="paymentCode" required>
        
                        <label for="UserId"><b>User ID</b></label>
                        <input ng-model="inputs.userId" type="text" maxlength="11" name="userId" required>
        
                        <label for="TripId"><b>Trip ID</b></label>
                        <input ng-model="inputs.tripId" type="text" maxlength="11" name="tripId" required>
        
                        <label for="ReceiptId"><b>Receipt ID</b></label>
                        <input ng-model="inputs.receiptId" type="text" maxlength="11" name="receiptId" required>
        
                        <label for="orderIsComp"><b>Completed</b></label>
                        <select ng-model="inputs.orderIsComp" id="orderIsComp" name="orderIsComp" >
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <!-- User -->
                    <div ng-if="selected.label === 'User'" id="userTableFields">
                        <label for="userName"><b>Username</b></label>
                        <input ng-model="inputs.userName" type="text" name="userName" required>
        
                        <label for="userPass"><b>Password</b></label>
                        <input ng-model="inputs.userPass" type="text" name="userPass" required>
        
                        <label for="userEmail"><b>Email</b></label>
                        <input ng-model="inputs.userEmail" type="text" name="userEmail" required>
                        
                        <label for="userPhone"><b>Phone</b></label>
                        <input ng-model="inputs.userPhone" type="text" name="userPhone" required>
        
                        <label for="userAddress"><b>Address</b></label>
                        <input ng-model="inputs.userAddress" type="text" name="userAddress" required>
        
                        <label for="userCC"><b>City Code</b></label>
                        <input ng-model="inputs.userCC" type="text" name="userCC" required>
        
                        <label for="userBalance"><b>Balance</b></label>
                        <input ng-model="inputs.userBalance" type="text" name="userBalance">
        
                        <label for="userIsAdmin"><b>Is Admin</b></label>
                        <select  ng-model="inputs.userIsAdmin" id="userIsAdmin" name="userIsAdmin" >
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    
                    <!-- Item -->
                    <div ng-if="selected.label === 'Item'" id="itemTableFields">
                        <input type="text" name="tableSelect" value="Item" style="visibility:hidden"> </input>
                        
                        <label for="itemName"><b>Name</b></label>
                        <input ng-model="inputs.itemName" type="text" name="itemName" required>
                        
                        <label for="itemPrice"><b>Price</b></label>
                        <input ng-model="inputs.itemPrice" type="text" name="itemPrice" required>
        
                        <label for="itemSource"><b>Source</b></label>
                        <input ng-model="inputs.itemSource" type="text" name="itemSource" required>
        
                        <label for="itemDest"><b>Destination</b></label>
                        <input ng-model="inputs.itemDest" type="text" name="itemDest" required>
        
                        <label for="itemUrl"><b>Image Url</b></label>
                        <input ng-model="inputs.itemUrl" type="text" name="itemUrl" required>
                    </div>
                    
                    <!-- Shopping -->
                    <div ng-if="selected.label === 'Shopping'" id="shoppingTableFields">
                        <input type="text" name="tableSelect" value="Shopping" style="visibility:hidden"> </input>
        
                        <label for="storeCode"><b>Store Code</b></label>
                        <input ng-model="inputs.storeCode" type="text" name="storeCode" required>
                        
                        <label for="shoppingPrice"><b>Price</b></label>
                        <input ng-model="inputs.shoppingPrice" type="text" name="shoppingPrice" required>
                    </div>
                    
                    <!-- Trip -->
                    <div ng-if="selected.label === 'Trip'" id="tripTableFields">
                        <input type="text" name="tableSelect" value="Trip" style="visibility:hidden"> </input>
        
                        <label for="srcCode"><b>Source Code</b></label>
                        <input ng-model="inputs.srcCode" type="text" name="srcCode" required>
                        
                        <label for="destCode"><b>Destination Code</b></label>
                        <input ng-model="inputs.destCode" type="text" name="destCode" required>
        
                        <label for="tripDist"><b>Distance</b></label>
                        <input ng-model="inputs.tripDist" type="text" name="tripDist" required>
        
                        <label for="tripTruckId"><b>Truck ID</b></label>
                        <input ng-model="inputs.tripTruckId" type="text" name="tripTruckId" required>
        
                        <label for="tripPrice"><b>Price</b></label>
                        <input ng-model="inputs.tripPrice" type="text" name="tripPrice" required>
                    </div>

                    <!-- Truck -->
                    <div ng-if="selected.label === 'Truck'" id="truckTableFields">
                        <input type="text" name="tableSelect" value="Truck" style="visibility:hidden"> </input>
        
                        <label for="truckCode"><b>Truck Code</b></label>
                        <input ng-model="inputs.truckCode" type="text" name="truckCode" required>
                        
                        <label for="truckAvailCode"><b>Availabilty Code</b></label>
                        <input ng-model="inputs.truckAvailCode" type="text" name="availCode" required>
                    </div>

                    <!-- Review -->
                    <div ng-if="selected.label === 'Review'" id="reviewTableFields">
                        <input type="text" name="tableSelect" value="Review" style="visibility:hidden"> </input>
                        
                            <label for="UserId"><b>User Id <b></label>
                            <input type="text" ng-model="inputs.user_Id" id="user_Id" name="user_Id"></input>
    
                            <label for="ratingNumber"><b>Rating</b></label>
                            <select ng-model="inputs.ratingNumber" id="ratingNumber" name="ratingNumber">
                                <option value="1">1: Very Bad</option>
                                <option value="2">2: Bad</option>
                                <option value="3">3: Ok</option>
                                <option value="4">4: Good</option>
                                <option value="5">5: Very Good</option>
                            </select>
    
                            <label for="itemNumber"><b>Item <b></label>
                            <input type="text" ng-model="inputs.itemNumber" id="itemNumber" name="itemNumber"></input>
    
                            <label for="reviewText"><b>Review</b></label>
                            <input ng-model="inputs.reviewText" type="Text" name="reviewText">
                    </div>
                                        
                    <!-- Submit Button -->
                    <div ng-click="insertRecord()" ng-if="selected !== null" class="sign-multiple-column sign-end">
                        <input type="submit" value="INSERT">
                    </div>
        
                </div>
            </div>
        </form>
    </div>
    <div ng-if="outputs.message" class="insert-blurb">
        {{outputs.message}}
    </div>
</div>